.Rhistory
/.Rproj.user
SDA1.Rproj
Manifest.toml
/.quarto/
/hidden
/admin
/slides/figs/flaticons/
stealourcourse.qmd

docs/slides/figs/flaticons/
docs/hidden
docs/admin
docs/stealourcourse.qmd
docs/stealourcourse.html
*.lyx~
.~lock*
.$*